.Folder{
  width: 250px;
  background-color:antiquewhite;
  justify-content: space-between;
  margin: 2px 0;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.Folder button{
  margin: 2px;
  cursor: pointer;
}